__pycache__
backtest.py
*.csv
*.joblib
notebooks_old
__pycache__

!/data/ica_arma_predictions_24h_120D.csv
!/data/arma_predictions_24h_120D.csv

!/data/ica_roots.joblib
!/data/ica_arma_orders_24h_120D.csv
!/data/arma_orders_24h_120D.csv
!/data/ohlc_1d_gateio.csv
!/data/close_1d_gateio.csv

/private_files
revision.md